# Results folders
*/results/*

# Profiling
profiling/*
**/callgrind.out.*
**/lda.dSYM/*

# CodeBlocks
bin/*
obj/*
*.cbp
*.layout
*.depend

# Compile output
**/*.o
**/lda
**/lda.exe

# Output files from running
**/*.gamma
**/*.beta
**/*.other
**/*.dat

