# Results folders
**/results/*

# Profiling
profiling/*
**/callgrind.out.*
**/lda.dSYM/*

# CodeBlocks
bin/*
obj/*
*.cbp
*.layout
*.depend

# Vim
*.swp

# Compile output
**/*.o
**/lda
**/lda.exe

# Output files from running
**/*.gamma
**/*.beta
**/*.other
**/*.dat

#OS X indexing files
*DS_Store

# Python
*.pyc
__pycache__/*
